.button {
    background-color: rgb(117, 210, 241);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
  }
  
  .button:hover {
      opacity: 0.8;
  }