.container {
    border-style: solid;
    border-color: rgb(117, 210, 241);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.div {
    display: flex;
    margin: 3px;
    padding: 0 0 0 2px;
}

.div > div {
    border: 2px solid rgb(117, 210, 241);
}

.team {
    display: flex;
    margin-left: 40%;
}

.button {
    background-color: rgb(117, 210, 241);
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
  
.button:hover {
    opacity: 0.8;
}