.container {
    background-color: white;
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
}  

.input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
}